.main{
    width: auto;
    height: auto;
    position: relative;
    direction: rtl;
}

.left p{
    font-family: Lato;
    font-size: large;
    margin-left: 8vh;
    line-height: 40px;
}

 .heading{
    margin-top: 15vh;
    color: #555770;
    font-family: Poppins;
    font-weight: 700;
    line-height: 60px;
    margin-left: 8vh;
    font-size: 3vw;
}
.contact{
    background-color: #2A769A;
    width: 25vh;
    height: 5vh;
    margin-left: 8vh;
    text-align: center;
    border-radius: 8px;
    color: aliceblue;
    font-size: larger;
}



.left{

    /* display: flex; */
}




.right{
    text-align: center;
    
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    
    
.main{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
}
.right{
    /* background-color: red; */
}
.left{

}
   
      .right img {
        /* flex:1; */
        text-align: center;
        margin-top: 2vh;
    }

  }