.main{
    width: auto;
    height: auto;
    display: flex;
}
.left{
    flex:1;

}
.left p{
    font-family: Lato;
    font-size: large;
    margin-left: 6vh;
    line-height: 40px;
}

.left h1{
    margin-top: 15vh;
    color: #555770;
    font-family: Poppins;
    font-weight: 700;
    line-height: 60px;
    margin-left: 6vh;
}
.contact{
    background-color: #2A769A;
    width: 25vh;
    height: 5vh;
    margin-left: 8vh;
    text-align: center;
    border-radius: 8px;
    color: aliceblue;
    font-size: larger;
}


.right{
    flex:1;
    text-align: center;
}

@media screen and (max-width: 767px){

    .store{
        display: none;
    }
    
    .right{
      width: 80%;
      position: absolute;
      margin-left: 1%;
    }
    .left h1{
     font-size: 19px;
     margin-top: 60%;
     margin-top: 1vh;
     color: #555770;
     font-family: Poppins;
     font-weight: 700;
     font-size: 22px;


    }
.left p{
    font-size: 15px;
}
.mstore{
    margin-left: 14%;
    
}

}
@media screen and (min-width: 767px){
    .mstore{
        display: none;

    }
    
}